body {
    padding: 2rem;
}

body main {
    padding-right: 4%;
    padding-left: 4%;
}

p {
    margin: 0
}

.listing {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.listing_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
    flex-shrink: 0;
}

.img_listings {
    max-width: 300px; 
    display: inline-block;
    margin-bottom: 2rem;
}

.img_page {
    max-width: 400px; 
    display: inline-block;
}

.description {
    font-size: 0.8em;
    font-style: italic;
    padding: 2rem;
    border: solid grey;
    border-radius: 3em;
    min-width: 40vw
}

@media (max-width: 800px) {
    .listing {
        flex-wrap: wrap;
    }
}

.central_piece {
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.central_piece .pieces {
    padding: 1rem;
    font-size: larger;
}

.central_piece .pieces > p, form {
    text-align: center;
}

.comments {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.comments .comment {
    border: solid lightgrey;
    border-radius: 3rem;
    padding: 1.2rem;
    margin-top: 1rem;
}

.informative {
    color: grey; 
    font-size: 0.8em;
    margin-top: 0.5rem;
}

.add_button {
    background-color: #3579F6;
    color: white;
    border-radius: 1rem;
    border: none;
    padding-top: .4rem;
    padding-bottom: .4rem;
    padding-left: .6rem;
    padding-right: .6rem;
    margin-bottom: 1rem;
}

.add_button:hover {
    box-shadow: .2rem .2rem .1rem grey;
}

.no-hover_add_button:hover {
    box-shadow: none
}

.price {
    text-decoration: underline;
    font-size: x-large;
}

.add_list {
    display: flex; 
    flex-direction: column;
}

.form-group {
    display: flex;
    align-items: center;
    margin: 1rem;
}

.form-group label{
    width: 150px;
    font-weight: bold;
    margin: 1rem;
}

.form-group input, textarea, select {
    border: solid lightgrey;
    border-radius: 3rem;
    margin: 1rem;
}  

.form-group input {
    flex-grow: 0.2;
    padding: .5rem;
}

.form-group textarea {
    padding: 2rem;
    flex-grow: 0.5;
}   

.form-group select {
    padding: 2rem;
    flex-grow: .08;
}

.check-wrap {
    width: 1.5*30px;
    height: 1.5*30px;
    margin: 1rem;
}

.check-wrap .check {
    width: 30px;
    height: 30px;
    transform: scale(1.5);
}


@media (prefers-color-scheme:dark) {
    body {
        color: white;
        background: #1E1E1E;
    }
    .add_button:hover {
        box-shadow: .2rem .2rem .1rem lightgrey;
    }
    .no-hover_add_button:hover {
        box-shadow: none
    }
}
