body {
    padding: 2rem;
}

body main {
    padding-right: 4%;
    padding-left: 4%;
}

p {
    margin: 0
}

.listing {
    margin-top: 2rem;
    display: flex;
    align-items: center;
}

.listing_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
    flex-shrink: 0;
}

.img_listings {
    width: 300px; 
    display: inline-block;
}

.img_page {
    width: 500px; 
    display: inline-block;
}

.description {
    font-size: 0.8em;
    font-style: italic;
    padding: 2rem;
    border: solid grey;
    border-radius: 3em;
}

.central_piece {
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.central_piece .pieces {
    padding: 1rem;
    font-size: larger;
}

.central_piece .pieces > p {
    text-align: center;
}

.comments {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.comments .comment {
    border: solid lightgrey;
    border-radius: 3rem;
    padding: 2rem;
    margin: 1rem;
}

.informative {
    color: grey; 
    font-size: 0.8em;
}

.add_button {
    background-color: #3579F6;
    color: white;
    border-radius: 1rem;
    border: none;
    padding-top: .4rem;
    padding-bottom: .4rem;
    padding-left: .6rem;
    padding-right: .6rem;
    margin-bottom: 1rem;
}

.add_button:hover {
    box-shadow: .2rem .2rem .1rem grey;
}

.no-hover_add_button:hover {
    box-shadow: none
}

.price {
    text-decoration: underline;
    font-size: x-large;
}

@media (prefers-color-scheme:dark) {
    body {
        color: white;
        background: #1E1E1E;
    }
    .add_button:hover {
        box-shadow: .2rem .2rem .1rem lightgrey;
    }
    .no-hover_add_button:hover {
        box-shadow: none
    }
}
