{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <header style="display: flex; justify-content: space-between;">
            <div>
                <h1>Auctions</h1>
                <div>
                    {% if user.is_authenticated %}
                        Signed in as <strong>{{ user.username }}</strong>.
                    {% else %}
                        Not signed in.
                    {% endif %}
                </div>
            </div>
            <div style="align-self: center; display: felx; flex-direction: column; font-size: large; font-weight: bold; text-align: center;">
                <p style="font-size: larger; text-decoration: underline; flex-grow: 1; margin-bottom: 1rem">Menu</p>
                <ul class="nav">
                    <li class="nav-item" style="flex-grow: 1">
                        <a class="nav-link" href="{% url 'auction:index' %}">All listings</a>
                    </li>
                    <li class="nav-item" style="flex-grow: 1">
                        <a class="nav-link" href="{% url 'auction:categories' %}">By category</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item" style="flex-grow: 1">
                        <a class="nav-link" href="{% url 'auction:own' %}">My Listings</a>
                    </li>
                    <li class="nav-item" style="flex-grow: 1">
                        <a class="nav-link" href="{% url 'auction:add_listing' %}">Add Listing</a>
                    </li>
                    <li class="nav-item" style="flex-grow: 1">
                        <a class="nav-link" href="{% url 'auction:watchlist' %}">Watchlist</a>
                    </li>
                    {% else %}
                    
                    {% endif %}
                </ul>
            </div>
            <div>
                <ul class="nav">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'auction:logout' %}">Log Out</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'auction:login' %}?next={{request.path}}">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'auction:register' %}">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </header>
        <br>
        <hr>
        <main style="margin-top: 8rem;">
            {% block body %}
            {% endblock %}
        </main>
    </body>
</html>
